a {
  color: #66BFBF;
  font-family: 'Barlow Semi Condensed', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: black;
}

body {
  background-color: #F9F3DF;
  margin: 0;
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1.5rem;
}

div {

margin: 0;
padding: 70px;
padding-bottom: 0;
}

h1 {
  color: #3F0713;
width: 20%;
margin: 0 auto 0 auto;
margin-top: 50px;
font-family: 'Crafty Girls', cursive;
font-size: 3.5rem;
/* or 3em, but if using em, then it gets inherited if using a font size in the body (the resulting font will be bigger)
The same is with the % , the best is to use rem. 16px = 1em. Don't put em and % together in the body + h1 (or other titles)*/
line-height: 2;

}

h2 {
font-family: 'Quicksand', sans-serif;
font-size: 2.5rem;
font-weight: normal;
color: #3B0000;
padding-bottom: 10px;
}

h3 {
font-family: 'Quicksand', sans-serif;
color: #5E454B;

}

hr {
  border-color: #F4CB81;
  border-style: dotted none none;
  border-width: 3px;
  margin: 100px auto;
  width: 25%;
}

p {
line-height: 2;
text-align: center;
}

/* Class Selector */
.bottom-container {
  background-color: #F4D19B;
padding: 50px 0 20px;
}

.btn {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: #000000;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 12px;
  background-color: #EFC5A7;
  -webkit-box-shadow: 0 0 20px 0 #000000;
  -moz-box-shadow: 0 0 20px 0 #000000;
  box-shadow: 0 0 20px 0 #000000;
  text-shadow: 1px -3px 39px #000000;
  border: solid #F4F4F4 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  background: #FDFCE5;
  border: solid #FDFCE5 1px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
}

.copyright {
  font-size: .75rem;
  color: #FDFCE5;
  padding: 20px 0;
}

.design-skill-description {
clear: left;
}

.intro {
  width: 50%;
  margin: auto;
}

.top-contaner {
  background-color: #D7E9F7;
  margin: 0;
  padding-bottom: 0;
  position: relative;
  border: 0;
}

.middle-container {
padding-bottom: 30px;
background-color: #FDFCE5;

}

.mountain {
position: relative;

}


.bottomcloud {
  position: absolute;
  left: 400px;
}

.seo-img {
width: 25%;
float: right;
margin-left: 30px;
}

.seo-skill-description {
  clear: left;
}

.skill-row {
text-align: left;
width: 50%;
margin: 100px auto;
line-height: 2;
}

.top-cloud {
position: absolute;
Right: 450px;
Top: 40px;

}

.top-subtitle {
  font-weight: normal;
  text-align: center;
}

.typing-cat {
  width: 25%;
  float: left;
margin-right: 30px;
}

.web {
  text-decoration: underline;
}

/* Look at: fixed (where a position stays on the top all the time) to absolute (relative to the body) and to relative (moves randomly)
The design can be set as display: inline-block; */
